<div class="tab" id="tab-themes" style="overflow-y: hidden; " tabindex="5001">
  <ul class="packs-list inline">
    <% _.each(packs, function(pack) { %>
      <li class="<%= pack.get('active') ? 'active' : '' %>" id="pack-<%= pack.get('name').dasherize().toLowerCase() %>">
        <span class="actions hidden">
          <a class="delete" href="#pack?delete=<%= pack.cid %>&confirm=<%= pack.id==undefined ? 'true' : 'true' %>"></a>
          <a class="edit" href="#pack/<%= pack.cid %>"></a>
        </span>
        <a href="#pack?switch=<%= pack.cid %>">
          <span class="title"><%= pack.get('name') %></span>
        </a>
      </li>
    <% }); %>

    <li class="new-pack"><a href="#pack?new">Add new theme</a></li>
  </ul>
</div>
