<div class="tab" id="tab-fonts" style="display: none; ">
  <form id="fonts_form" class="container" action="#">
    <div class="section" id="section-fonts-preview">
      <div class="section-body">
        <div class="font-select hidden">
          <label>Title font</label>
          <a id="title_font" class="selector" href="#" style="font-family: <%= Spraycan.preferences.title_font %>;"><%= Spraycan.preferences.title_font %></a>
          <input type="hidden" id="preferred_title_font" name="title_font" value="<%= Spraycan.preferences.title_font %>">
        </div>
        <div class="font-select">
          <label>Body font</label>
          <a id="body_font" class="selector" href="#" style="font-family: <%= Spraycan.preferences.body_font %>;"><%= Spraycan.preferences.body_font %></a>
          <input type="hidden" id="preferred_body_font" name="body_font" value="<%= Spraycan.preferences.body_font %>">
        </div>
      </div>
    </div>
    <div class="section">
      <div class="section-header">
        <h6 class="title">Navigation</h6>
      </div>
      <div class="section-body">
        <div class="slider-wrap">
          <div class="title">Header</div>
          <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <div class="ui-slider-range ui-widget-header ui-slider-range-min"></div>
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
          </div>
          <div class="value">
            <input type="text" id="preferred_header_navigation_font_size" name="header_navigation_font_size" value="<%= Spraycan.preferences.header_navigation_font_size %>">
            <span class="format">px</span>
          </div>
        </div>
        <div class="slider-wrap">
          <div class="title">Horizontal Menu</div>
          <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <div class="ui-slider-range ui-widget-header ui-slider-range-min"></div>
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
          </div>
          <div class="value">
            <input type="text" id="preferred_horizontal_navigation_font_size" name="horizontal_navigation_font_size" value="<%= Spraycan.preferences.horizontal_navigation_font_size %>">
            <span class="format">px</span>
          </div>
        </div>
        <div class="slider-wrap">
          <div class="title">Navigation Header</div>
          <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <div class="ui-slider-range ui-widget-header ui-slider-range-min"></div>
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
          </div>
          <div class="value">
            <input type="text" id="preferred_main_navigation_header_font_size" name="main_navigation_header_font_size" value="<%= Spraycan.preferences.main_navigation_header_font_size %>">
            <span class="format">px</span>
          </div>
        </div>
        <div class="slider-wrap">
          <div class="title">Navigation Link</div>
          <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <div class="ui-slider-range ui-widget-header ui-slider-range-min"></div>
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
          </div>
          <div class="value">
            <input type="text" id="preferred_main_navigation_font_size" name="main_navigation_font_size" value="<%= Spraycan.preferences.main_navigation_font_size %>">
            <span class="format">px</span>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="section-header">
        <h6 class="title">Product List</h6>
      </div>
      <div class="section-body">
        <div class="slider-wrap">
          <div class="title">Name</div>
          <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <div class="ui-slider-range ui-widget-header ui-slider-range-min"></div>
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
          </div>
          <div class="value">
            <input type="text" id="preferred_product_list_name_font_size" name="product_list_name_font_size" value="<%= Spraycan.preferences.product_list_name_font_size %>">
            <span class="format">px</span>
          </div>
        </div>
        <div class="slider-wrap">
          <div class="title">Price</div>
          <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <div class="ui-slider-range ui-widget-header ui-slider-range-min"></div>
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
          </div>
          <div class="value">
            <input type="text" id="preferred_product_list_price_font_size" name="product_list_price_font_size" value="<%= Spraycan.preferences.product_list_price_font_size %>">
            <span class="format">px</span>
          </div>
        </div>
        <div class="slider-wrap">
          <div class="title">Header</div>
          <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <div class="ui-slider-range ui-widget-header ui-slider-range-min"></div>
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
          </div>
          <div class="value">
            <input type="text" id="preferred_product_list_header_font_size" name="product_list_header_font_size" value="<%= Spraycan.preferences.product_list_header_font_size %>">
            <span class="format">px</span>
          </div>
        </div>
        <div class="slider-wrap">
          <div class="title">Search</div>
          <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <div class="ui-slider-range ui-widget-header ui-slider-range-min"></div>
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
          </div>
          <div class="value">
            <input type="text" id="preferred_product_list_search_font_size" name="product_list_search_font_size" value="<%= Spraycan.preferences.product_list_search_font_size %>">
            <span class="format">px</span>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="section-header">
        <h6 class="title">Product Detail</h6>
      </div>
      <div class="section-body">
        <div class="slider-wrap">
          <div class="title">Name</div>
          <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <div class="ui-slider-range ui-widget-header ui-slider-range-min"></div>
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
          </div>
          <div class="value">
            <input type="text" id="preferred_product_detail_name_font_size" name="product_detail_name_font_size" value="<%= Spraycan.preferences.product_detail_name_font_size %>">
            <span class="format">px</span>
          </div>
        </div>
        <div class="slider-wrap">
          <div class="title">Description</div>
          <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <div class="ui-slider-range ui-widget-header ui-slider-range-min"></div>
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
          </div>
          <div class="value">
            <input type="text" id="preferred_product_detail_description_font_size" name="product_detail_description_font_size" value="<%= Spraycan.preferences.product_detail_description_font_size %>">
            <span class="format">px</span>
          </div>
        </div>
        <div class="slider-wrap">
          <div class="title">Price</div>
          <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <div class="ui-slider-range ui-widget-header ui-slider-range-min"></div>
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
          </div>
          <div class="value">
            <input type="text" id="preferred_product_detail_price_font_size" name="product_detail_price_font_size" value="<%= Spraycan.preferences.product_detail_price_font_size %>">
            <span class="format">px</span>
          </div>
        </div>
        <div class="slider-wrap">
          <div class="title">Title</div>
          <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <div class="ui-slider-range ui-widget-header ui-slider-range-min"></div>
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
          </div>
          <div class="value">
            <input type="text" id="preferred_product_detail_title_font_size" name="product_detail_title_font_size" value="<%= Spraycan.preferences.product_detail_title_font_size %>">
            <span class="format">px</span>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="section-header">
        <h6 class="title">Basic</h6>
      </div>
      <div class="section-body">
        <div class="slider-wrap">
          <div class="title">Default</div>
          <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <div class="ui-slider-range ui-widget-header ui-slider-range-min"></div>
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
          </div>
          <div class="value">
            <input type="text" id="preferred_base_font_size" name="base_font_size" value="<%= Spraycan.preferences.base_font_size %>">
            <span class="format">px</span>
          </div>
        </div>
        <div class="slider-wrap">
          <div class="title">Header</div>
          <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <div class="ui-slider-range ui-widget-header ui-slider-range-min"></div>
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
          </div>
          <div class="value">
            <input type="text" id="preferred_heading_font_size" name="heading_font_size" value="<%= Spraycan.preferences.heading_font_size %>">
            <span class="format">px</span>
          </div>
        </div>
        <div class="slider-wrap">
          <div class="title">Sub Header</div>
          <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <div class="ui-slider-range ui-widget-header ui-slider-range-min"></div>
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
          </div>
          <div class="value">
            <input type="text" id="preferred_sub_heading_font_size" name="sub_heading_font_size" value="<%= Spraycan.preferences.sub_heading_font_size %>">
            <span class="format">px</span>
          </div>
        </div>
        <div class="slider-wrap">
          <div class="title">Buton</div>
          <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <div class="ui-slider-range ui-widget-header ui-slider-range-min"></div>
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
          </div>
          <div class="value">
            <input type="text" value="20" id="preferred_button_font_size" name="button_font_size" value="<%= Spraycan.preferences.button_font_size %>">
            <span class="format">px</span>
          </div>
        </div>
        <div class="slider-wrap">
          <div class="title">Input Field</div>
          <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <div class="ui-slider-range ui-widget-header ui-slider-range-min"></div>
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
          </div>
          <div class="value">
            <input type="text" id="preferred_input_box_font_size" name="input_box_font_size" value="<%= Spraycan.preferences.input_box_font_size %>">
            <span class="format">px</span>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
